/*
    scss file structure referred from TreeHouse - "Sass Basics - Debugging Sass with Sourcemaps"
    https://teamtreehouse.com/library/debugging-sass-with-sourcemaps
*/
body {
  font-family: "Poppins", sans-serif;
  color: #333645; }

h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-top: 3rem; }

.upper, .btn {
  text-transform: uppercase;
  border-radius: 5%; }

.dark-bg {
  background-color: #333645;
  color: #ffffff; }

.btn {
  padding: 0.75em;
  border: none; }
  .btn i,
  .btn a {
    color: #ffffff;
    text-overflow: unset; }

#burger {
  background-color: #333645;
  width: 4rem;
  height: 3.5rem; }

#phone,
#search-submit {
  float: right; }
  #phone i,
  #search-submit i {
    color: #333645; }

#phone i :hover {
  text-decoration: underline; }

#main-nav {
  height: 10.5rem; }

#software .btn,
#software .thumbnail {
  background-color: #67809f;
  color: #ffffff; }

#support .btn,
#support .thumbnail {
  background-color: #4183d7;
  color: #ffffff; }

#marketing .btn,
#marketing .thumbnail {
  background-color: #2ecc71;
  color: #ffffff; }

#telecoms .btn,
#telecoms .thumbnail {
  background-color: #d64541;
  color: #ffffff; }

#design .btn,
#design .thumbnail {
  background-color: #926fb1;
  color: #ffffff; }

#security .btn,
#security .thumbnail {
  background-color: #f62459;
  color: #ffffff; }

#training .btn,
#training .thumbnail {
  background-color: #ce4125;
  color: #ffffff; }

#cover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cover.jpg) no-repeat center;
  background-size: cover; }
  #cover p, #cover h1 {
    font-weight: 600;
    color: #ffffff; }

#services #software {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #software h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #software .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#services #support {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #support h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #support .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#services #marketing {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #marketing h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #marketing .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#services #telecoms {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #telecoms h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #telecoms .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#services #design {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #design h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #design .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#services #security {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #security h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #security .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#services #training {
  padding: 2em 0 1em 0;
  margin-bottom: 2rem;
  text-align: center; }
  #services #training h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem; }
  #services #training .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 4em;
    width: 4em;
    border-radius: 50%; }

#reviews {
  font-weight: 600; }
  #reviews .stars {
    color: #ffa500; }
  #reviews blockquote {
    font-size: 1.3rem; }
  #reviews figcaption {
    font-size: 1.1rem;
    color: #999aa2;
    padding: 1rem 0 1.5rem 0; }

#google {
  color: #ffffff;
  background-color: #4387f6;
  margin-bottom: 1rem; }

#trustpilot {
  color: #ffffff;
  background-color: #00b67b;
  margin-bottom: 1rem; }

#welcome .btn {
  color: #ffffff;
  background-color: #272936; }

#latest #software h2 {
  color: #67809f;
  font-weight: 600;
  font-size: 1rem; }
#latest #software p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#latest #support h2 {
  color: #4183d7;
  font-weight: 600;
  font-size: 1rem; }
#latest #support p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#latest #marketing h2 {
  color: #2ecc71;
  font-weight: 600;
  font-size: 1rem; }
#latest #marketing p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#latest #telecoms h2 {
  color: #d64541;
  font-weight: 600;
  font-size: 1rem; }
#latest #telecoms p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#latest #design h2 {
  color: #926fb1;
  font-weight: 600;
  font-size: 1rem; }
#latest #design p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#latest #security h2 {
  color: #f62459;
  font-weight: 600;
  font-size: 1rem; }
#latest #security p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#latest #training h2 {
  color: #ce4125;
  font-weight: 600;
  font-size: 1rem; }
#latest #training p {
  font-size: .8125rem;
  line-height: 1.375rem; }

#newsletter {
  background-color: #dddddd; }
  #newsletter h1 {
    font-weight: 400;
    font-size: 2rem; }
  #newsletter .btn {
    background-color: #333645;
    color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
