@function getColor($palette, $key) {
    $p: map-get($palettes, $palette);
    $return: red;
    
    //inner palette received as a list, iterate to find the right color
    @each $k,
    $col in $p {
        @if $k == $key {
            $return: $col;
        }
    }
    @return $return;
}

@function generateCard() {
    
}