@mixin debug {
    * {
        outline: solid 1px red;
    }

    @content;
}

@mixin round-background($size) {
    border-radius: 50%;
    width: $size;
    height: $size;
}

@mixin dark {
    background-color: getColor(layout, primary);

    * {
        color: $base;
    }

    @content;
}

@mixin dark-bg-on-hover($color) {
    background-color: $color;
    &:hover {
        background-color: darken($color, $dark-percent);
    }

    @content;
}

@mixin dark-col-on-hover($color) {
    color: $color;
    &:hover {
        color: darken($color, $dark-percent);
    }

    @content;
}