@mixin debug {
    * {
        outline: solid 1px red;
    }

    @content;
}

@mixin small-text {
    font-size: .8125rem;
    @content;
}

@mixin round-thumbnail($size) {
    border-radius: 50%;
    width: $size;
    height: $size;
    align-self: center;
}

@mixin dark {
    background-color: getColor(layout, primary);

    * {
        color: getColor(layout, white);
    }

    @content;
}