//Colors
$white: #ffffff;

$palettes: (
    layout: (
        primary: #333645,
        secondary: #272936,
        accent: #4183d7,
        lightgray: #dddddd,
        darkgrey: #999aa2
        ),
    services: (
        software: #67809f,
        support: #4183d7,
        marketing: #2ecc71,
        telecoms: #d64541,
        design: #926fb1,
        security: #f62459,
        training: #ce4125
        ),
    reviews: (google: #4387f6,
        trustpilot: #00b67b
        ),
);

//Fonts
$font-stack: 'Poppins', sans-serif;

/*
//Icons
$service-icons: (
    'software': '<i class='fa-solid fa-grid'></i>',
    'support': '<i class='fa-solid fa-display'></i>',
    'marketing': '<i class='fa-solid fa-signal-bars-good'></i>',
    'telecoms': '<i class='fa-solid fa-phone'></i>',
    'design': '<i class="fa-solid fa-code"></i>',
    'security': '<i class="fa-solid fa-shield-quartered"></i>',
    'training': '<i class='fa-solid fa-graduation-cap'></i>',
);
*/

$star: '<i class=' fa-solid fa-star'></i>';
$right-arrow: '<i class=' fa-solid fa-arrow-right'></i>';