//Colors
$palettes: (
    layout: (primary: #333645,
        secondary: #272936,
        base: #ffffff,
    ),
    services: (software: #67809f,
        support: #4183d7,
        marketing: #2ecc71,
        telecoms: #d64541,
        design: #926fb1,
        security: #f62459,
        training: #ce4125,
    ),
    reviews: (google: #4387f6,
        trustpilot: #00b67b,
        star: #ffa500,
    ),
    socials: (facebook: #4267B2,
        twitter:#1DA1F2,
        instagram:#C13584,
        linkedin:#0072B1,
    )
);

$dark-percent: 5%;

//Font
$font-stack: 'Poppins', sans-serif;

//Measurements
$textbox-height: 3rem;
$smaller-font: 0.875rem;
$small-line-height:1.375rem;