//Colors
$white: #ffffff;

$palettes: (
    layout: (primary: #333645,
        secondary: #272936,
        accent: #4183d7,
        lightgray: #dddddd,
        darkgrey: #999aa2,
    ),
    services: (software: #67809f,
        support: #4183d7,
        marketing: #2ecc71,
        telecoms: #d64541,
        design: #926fb1,
        security: #f62459,
        training: #ce4125,
    ),
    reviews: (google: #4387f6,
        trustpilot: #00b67b,
        star: #ffa500,
    ),
);

$reviews: (
    "google",
    "trustpilot",
);

//Fonts
$font-stack: 'Poppins', sans-serif;


//Icons
$service-icons: (
    software: "fa-solid fa-grip-vertical",
    support: "fa-display",
    marketing: "fa-solid fa-signal",
    telecoms: "fa-phone",
    design: "fa-code",
    security:"fa-shield-halved",
    training: "fa-user-graduate",
);

$star: "fa-star";
$right-arrow: '<i class=' fa-solid fa-arrow-right'></i>';