footer {
    font-size: .8125rem;
    h2 {
        font-size: 1rem;
    }
    a {
        color: $white;
        text-decoration: none;
    }

    #social-media {
        display: flex;
        justify-content: space-around;
    }
}