#reviews {
    font-weight: 600;

    .stars {
        color: $star-color;
    }

    blockquote {
    }

    figcaption {
        color: getColor(layout, darkgrey);
    }
}

@each $tag in $reviews {
    ##{$tag} {
        color:$white;
            background-color: getColor(reviews, $tag);
    }
}