#reviews {
    font-weight: 600;

    .stars {
        color: $star-color;
    }

    blockquote {
        font-size: 1.3rem;
    }

    figcaption {
        font-size: 1.1rem;
        color: getColor(layout, darkgrey);
        padding: 1rem 0 1.5rem 0;
    }
}

@each $tag in $reviews {
    ##{$tag} {
        color:$white;
            background-color: getColor(reviews, $tag);
            margin-bottom: 1rem;
    }
}