@each $tag in map-keys($service-icons) {
    #services ##{$tag} {
        text-align: center;

        .thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 0 auto;
            height: 4em;
            width: 4em;
            border-radius: 50%;
        }
    }
}