@each $tag in map-keys($service-icons) {
    ##{$tag} {
        .btn,
        .thumbnail {
            background-color: getColor(services, $tag);
            color: $white;
        }
    }
}
.card-title {
    font-size: 1.3rem;
}
.card-text {
    font-size: .8125rem;
}