@each $tag in map-keys($service-icons) {
    .#{$tag} {
        .card-title {
            color: getColor(services, $tag);
        }

        .btn,
        .thumbnail {
            background-color: getColor(services, $tag);
        }

        .card &:hover {
            background-color: getColor(services, $tag);
        }
    }
}

.card {
    margin-bottom: 2rem;

    &-title {
        font-size: 1.3rem;
        margin-bottom: 1em;
    }

    &-text {
        font-size: small;
        line-height: 1.375rem;
    }

    .thumbnail {
        font-size: 1.8em;
        color: getColor(layout, white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0
    }
}