@each $tag in map-keys($service-icons) {
    .#{$tag} {
        padding: 0em 1em;

        .btn,
        .thumbnail {
            background-color: getColor(services, $tag);
        }
    }
}

.card {
    padding-top: 2rem;
    margin-bottom: 2rem;
    //min-height: 20rem;

    &-title {
        font-size: 1.3rem;
        margin-bottom: 0.8em;
    }

    &-text {
        @include small-text;
        line-height: 1.375rem;
        //margin-bottom: ;
    }

    .thumbnail {
        font-size: 1.8em;
        color: getColor(layout, white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        font-size: 1.063rem;
        border-radius: .2em;
        margin-bottom: 1em;
    }
}