body {
    font-family: $font-stack;
    color: getColor(layout, primary);
    line-height: 1.375rem;
}

li {
    list-style: none;
}

strong, h1 {
    font-weight: 600;
}

h1 {
    font-size: 2.7rem;
}

.upper,
.btn {
    text-transform: uppercase;
}

.dark-bg {
    background-color: getColor(layout, primary);
    color: $white;
}