body {
    font-family: $font-stack;
    color:getColor(layout, primary);
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

.upper, .btn {
    text-transform: uppercase;
    border-radius: 5%;
}

.dark-bg {
    background-color: getColor(layout, primary);
    color:$white;
}