body {
    font-size: 1rem;
    background-color: $base;
    color: getColor(layout, primary);
    font-family: $font-stack;
    letter-spacing: .4px;


}

section {
        padding: 1.5rem 0;
    width:100%;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: inherit;
    }
}

h1,
strong {
    font-weight: 600;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2.25rem;
}

p {
    line-height: 1.875rem;
}

.container {
    padding: 0 15px;
}