body {
    font-size: 1rem;
    background-color: getColor(layout, white);
    color: getColor(layout, primary);
    font-family: $font-stack;
}

h1,
strong {
    font-weight: 600;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 0.8em;
}

a {
    color: getColor(layout, primary);
    text-decoration: none;
}

section {
    padding-top: 1.4em;
}

p {
    line-height: 1.875rem;
}