#cover {
    height: 550px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    $gradient-start: 0.5;
    $gradient-end: 0.5;

    @media (min-width: getBreakpoint(lg)) {
        $gradient-start: 1;
        $gradient-end: 0;
        font-size: 2rem;
        text-align: left;
    }

    background-image: linear-gradient(to right, rgba(black, $gradient-start), rgba(black, $gradient-end)),
    url("../img/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: $base;
    font-size: 1.25rem;
    line-height: 1.75rem;

    h1 {
        font-size: 2em;
    }
}