#cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 550px;

    text-align: center;
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;

    h1 {
        font-size: 2em;
        margin-top: 4.5rem;
        margin-bottom: 1.4rem;
    }
}