#cover {
    height: 550px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: $base;
    font-size: 1.25rem;
    line-height: 1.75rem;

    h1 {
        font-size: 2em;
    }
}