footer {
    @include dark;
    @include underline;

    * {
        font-size: small;
        line-height: 1.375rem;
        list-style-type: none;
    }

    .tel {
        display: inline;
    }

    .container {

        .container {
            padding: 1.5rem 0 2.5rem 4.5rem;

            ul,
            ul a {
                padding: 0;
                margin: 0;
            }

            h2 {
                text-transform: uppercase;
                font-size: 1rem;
                padding: 1.5rem 0;
            }
        }
    }

    .copyright {
        border-top: 1px solid #888;
        text-align: left;
        align-items: baseline;
        display: flex;

        .row {
            padding: 1rem 0;
        }

        //social media links
        .socials {
            text-align: center;
            text-decoration: none;

            @each $tag,
            $col in map-get($palettes, socials) {
                [class*=#{$tag}] {
                    @include round-background(2.25em);
                    text-decoration: none;
                    &:hover {
                        background-color: $col;
                    }
                }
            }

            //HOW TO MAKE CIRCLE BASELINE?
        }
    }
}