#main-nav {
    @include underline;

    margin-top: 1.8rem;
    margin-bottom: .3rem;


    [class*="col"] {
        margin-bottom: 1rem;
    }

    .phone {
        float: left;
        font-size: 1.8rem;
        text-underline-offset: .3rem;

        :hover {
            text-decoration: underline;
            color: getColor(layout, secondary);
        }
    }

    .hamburger {
        @include dark;
        float: right;
        padding: 1rem;
        padding-bottom: 0.6rem;
    }

    .input-group {
        &-text {
            width: 100%;
            outline: 1px solid rgba(255, 255, 255, 0.2);
            border: 2px solid rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            background-color: #e5e5e5;
            text-align: left;
        }

        .btn {
            $pad-y: ($textbox-height/2)-(1.3rem/2);
            font-size: 1.3rem;
            position: absolute;
            margin: 0 .25rem;
            right: 0;
            padding: $pad-y 0.3rem;
            color: getColor(layout, primary);

        }
    }

}