#main-nav {
    margin-top: 1.6rem;
    margin-bottom: .3rem;

    [class*="col"] {
        margin-bottom: 1rem;
        align-self: center;
    }

    .phone {
        @include dark-col-on-hover($primary);
        font-size: 2rem;
        text-underline-offset: .3rem;

        :hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
    }

    button[class*="hamburger"] {
        @include dark;
        @include dark-bg-on-hover($primary);
        align-self: baseline;
        float: right;
        padding: 0.9em 0.9em 0.6em;
        border-radius: 3px;
    }

    .input-group {
        position: relative;
        &-text {
            background-color: rgba(0, 0, 0, .1);
            outline: 1px solid hsla(0, 0%, 100%, .2);
            border: 2px solid rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }

        .btn {
            $pad-y: ($textbox-height/2)-(1.3rem/2);
            font-size: 1.3rem;
            position: absolute;
            margin: 0 .25rem;
            right: 0;
            padding: $pad-y 0.3rem;
            color: getColor(layout, primary);

        }
    }

}