#newsletter {
    background: rgba(0, 0, 0, .15);

    a {
        @include dark-col-on-hover($primary);
        text-decoration: underline;
    }

    h1 {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: .6rem;
    }

    .required::after {
        content: " *";
        color: red;
    }

    .form {
        &-label {
            margin-bottom: 0;
        }

        &-control {
            margin-bottom: $smaller-font;
        }

        &-check-input {
            height: 2rem;
            width: 2rem;
            border: solid 3px $primary;
            background: inherit;

            &:checked {
                background-color: $primary;
            }
        }
    }

    .btn {
        @include dark;
        @include dark-bg-on-hover($primary);
        color: $base;
        margin: 2rem 0;
    }

    strong {
        line-height: 2em;
    }
}