#newsletter {
    background: rgba(0, 0, 0, .15);

    a {
        text-decoration: underline;
        &:hover {
            color: getLayout(layout, secondary);
        }
    }

    h1 {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: .6rem;
    }

    .required::after {
        content: " *";
        color: red;
    }

    .form {
        &-label {
            margin-bottom: 0;
        }

        &-control {
            height: 2.75rem;
            background-color: getColor(layout, white);
            margin-bottom: .7em;
            border-radius: 0;
        }

        &-check-input {
            height: 2rem;
            width: 2rem;
            border: solid 3px getColor(layout, primary);
            background: inherit;

            &:checked {
                color: getColor(layout, white);
                background-color: getColor(layout, primary);
            }
        }
    }

    .btn {
        @include dark;
        color: getColor(layout, white);
        margin: 2rem 0;
    }

    strong {
        line-height: 2em;
    }
}