#reviews {
    @include dark;

    padding-top: .5rem;
    padding-bottom: 2.75rem;

    @each $key,
    $col in map-get($palettes, reviews) {
        .#{$key} {
            background-color: $col;
        }
    }

    figure {
        i {
            color: getColor(reviews, star);
            margin-bottom: 1.7rem;
        }

        blockquote {
            font-size: 1.3rem;
        }

        figcaption {
            margin: 2rem 0;

            strong {
                font-size: 1.1rem;
                color: #a3a8ac;

            }
        }

    }

    .btn {
        padding-left: 2rem;
        height: 3.5rem;

        i {
            padding: 0 1rem;
        }
    }
}