#services {

    //@include debug;
    h1 {
        font-size: 2.7rem;
    }

    text-align: center;

    .card {
        border-radius: 4%;

        &-title {
            color: getColor(layout, primary);
        }
    }

    .thumbnail {
        @include round-thumbnail(4rem);
    }
}