#sidebar {
    @include dark;
    width: 17rem;

    .offcanvas {
        &-body {
            padding: 0;
        }
    }

    .padded {
        padding: 1.5rem;
    }

    ul {
        list-style: none;
        padding: 0;

        li {

            .btn {
                background-color: rgba(0, 0, 0, .25);
            }
        }
    }

    .btn {
        outline: 1px solid rgba(0, 0, 0, .25);
        border: 1px solid rgba(white, .1);
        border-radius: 3px;
        margin: 0;
        width: 100%;
    }

    a {
        margin: 0;
    }
}