#sidebar {
    @include dark;
    width: 17rem;
    font-size: 1.125rem;
    .offcanvas-body {
        padding:1.25em;
    }

    a {
        border-radius: 3px;
        outline: 1px solid rgba(0, 0, 0, .25);
        border: 1px solid hsla(0, 0%, 100%, .1);
        width: 100%;
        margin:1.25em 0;

    }

    ul {
        list-style: none;
        padding:0;

        li a {
            background-color: rgba(0, 0, 0, .25);
            margin:0;
            padding:0.6rem;
        }
    }

}